<main class="index">
	<head class="masthead d-flex">
		<div class="container text-center my-auto">
			<h1 class="mb-1">
				<h3 class="mb-5">
					<em>Store your favorite links</em>
					<br>
					<a href="/signin" class="btn btn-primary">
						Access my Links Storage
					</a>
					<br>
					<a href="/signup" class="btn btn-primary">
						Make a Links Storage for me
					</a>
				</h3>
			</h1>
		</div>
	</head>
</main>